%flexJustifyCenter {
  display: flex;
  justify-content: center;
}

%flexAlignCenter {
    display: flex;
    align-items: center;
  }
  

%flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}


%flexSpaceAround {
    display: flex;
    justify-content: space-between;
  }
