/*COLOR VARIABLES*/

$txt-color-darkblue: #337ab7;
$txt-color-grey: #74808a;
$txt-color-white: #fff;
$txt-color-lightblack: #374054;




/*font-size and font-weight variables*/

$font-size-base:1rem;

$font-size-t1:5rem;
$font-size-t2:3rem;
$font-size-t3:1.5rem;
$font-size-t4:1.2rem;

$font-weight-300:300;
$font-weight-400:400;
$font-weight-700:700;
$font-weight-900:900;

$font-family:'Lato', sans-serif;



