/*heding*/


.section-heading {

    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgb(116, 128, 138);

}


/*Hero section page*/
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @extend %flexJustifyCenter;
  align-items: center;

  &__hero-content {
    width: 100%;
    height: 100vh;
    background-color: rgba(33, 125, 187, 0.8);
    opacity: 0.9;
  }

  &__hero-wrapper {
    position: absolute;
    width: 70%;
    @extend %flexJustifyCenter;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
  }

  &__heading {
    text-transform: uppercase;
    color: $txt-color-white;
    line-height: 2.7rem;
  }

  &__text {
    color: #a0cfee;
    line-height: 1;
  }

  &__icon {
    display: block;
    position: absolute;
    bottom: -170%;
    left: 50%;
    font-size: $font-size-t2;
    color: $txt-color-white;
    text-align: center;

    &__icon i {
      animation: anim-icon 0.1s ease-out;
      animation-iteration-count: infinite;
    }
  }
}

.about-section {
  width: 100%;
  height: 100vh;
  @extend %flexAlignCenter;
  flex-direction: column;

  &__top {

    flex: 0 30%;
    @extend %flexJustifyCenter;
    align-items: center;
  
  }

  &__top-wrapper {
    @extend %flexJustifyCenter;
    gap: 10rem;
  }

  &__top-heading {

 color:  rgb(116, 128, 138);
  justify-self: flex-start;
    

  }

  &__top-text {
    flex: 0 50%;
    line-height: 1.4286rem;
    color:  rgb(116, 128, 138);
    text-align: justify;
    font-weight: $font-weight-400;
   
  }

  &__bottom {


  &__bottom-wrapper{




  }

  &__bottom-wrapper{


    
  }
  
  








  }
}
